*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}




.table-latitude {
    width: 100%;
    font-size: 1.5rem;
    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $lfs-yellow;
        text-align: center;
    }
    thead {
        border-top: 2px solid $lfs-yellow;
        border-bottom: 2px solid $lfs-yellow;
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: $lfs-blue;
            border: 1px solid #F1F1F1;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            color: $lfs-grey;
            text-align: center;
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
            th {
                padding-left: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
    tfoot {
        color: $lfs-yellow;
        font-style: italic;
        border-bottom: 2px solid $lfs-yellow;
        tr {
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
}