*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}


.panel-default{
	border-radius: 25px;
	background-color: $color-primary;
}

.table-latitude {
    width: 100%;
	font-size: 2rem;
	color: whitesmoke;
    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $lfs-yellow;
		text-align: center;
		
    }
    thead {
        border-top: 2px solid $lfs-yellow;
        border-bottom: 2px solid $lfs-yellow;
        th {
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: $lfs-blue;
            border: 1px solid #F1F1F1;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            
            text-align: center;
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
            th {
                padding-left: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
    tfoot {
        color: $lfs-yellow;
        font-style: italic;
        border-bottom: 2px solid $lfs-yellow;
        tr {
            td {
                padding: 10px;
                border: 1px solid #F1F1F1;
            }
        }
    }
}


.box{  
    position: relative;
    margin: auto;
    display: block;
    /*optional background or border*/
    //border: solid 4px red;
    
    margin-top: 4%;
    width: 650px;
    height: 450px;
    background: none;
  }
  //shape ready from clipy tool
  .arrow{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
    height: 15%;
    background: $color-letter;
      
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
      
    animation: moveArrow 3s 1;
  }


  .num-bar{
	position: absolute;
  top: 1%;
  left: 98%;
  width: 1%;
  height: 100%;
  background: $color-letter;
}

.num-bar-10 {
	position: absolute;
	top: 90%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-10;
}
.num-bar-20 {
	position: absolute;
	top: 80%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-20;
}
.num-bar-10 {
	position: absolute;
	top: 90%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-10;
}
.num-bar-30 {
	position: absolute;
	top: 70%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-30;
}
.num-bar-40 {
	position: absolute;
	top: 60%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-40;
}
.num-bar-50 {
	position: absolute;
	top: 50%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-50;
}
.num-bar-60 {
	position: absolute;
	top: 40%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-60;
}
.num-bar-70 {
	position: absolute;
	top: 30%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-70;
}
.num-bar-80 {
	position: absolute;
	top: 20%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-80;
}
.num-bar-90 {
	position: absolute;
	top: 10%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-90;
}
.num-bar-100 {
	position: absolute;
	top: 0%;
	left: -25%;
	width: 160%;
	height: 1%;
	background: $num-100;
}


.graph-1 {
	position: absolute;
	top: 70%;
	left: 20%;
	width: 12%;
	height: 30%;
	background: $graph-1; //30%

	animation: graph-1 3s 1;
}

.graph-3 {
	position: absolute;
	top: 20%;
	left: 39%;
	width: 12%;
	height: 80%;
	background: $graph-3; //80%

	animation: graph-3 8s 1;
}
.graph-4 {
	position: absolute;
	top: 0%;
	left: 56%;
	width: 12%;
	height: 100%;
	background: $graph-4; //100%

	animation: graph-4 10s 1;
}



.line-0 {
	position: absolute;
	top: 100%;
	left: 10%;
	width: 95%;
	height: 1%;
	background: $color-letter;
}

.line-30 {
	position: absolute;
	top: 70%;
	left: 20%;
	width: 79%;
	height: 1%;
	background: $color-letter; //30%

	animation: line30 3s 1;
}

.line-80 {
	position: absolute;
	top: 20%;
	left: 39%;
	width: 60%;
	height: 1%;
	background: $color-letter; //80%

	animation: line80 8s 1;
}
.line-100 {
	position: absolute;
	top: 0%;
	left: 56%;
	width: 43%;
	height: 1%;
	background: $color-letter; //100%

	animation: line100 10s 1;
}





.container {
	max-width: 90rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
  }
  
  
  .responsive-table {
	li {
	  border-radius: 25px;
	  padding: 25px 30px;
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 25px;
	  font-family: 'Trade Gothic LT Bold';
	}
	.table-header {
	  background-color: $color-primary;
	  color: #ffff;
	  font-size: 2rem;
	  text-transform: uppercase;
	  letter-spacing: 0.03em;
	  font-family: 'NexaRustSlab-BlackShadow01',sans-serif;
	}
	.table-row {
	  background-color: #ffff;
	  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	}
	.col-1 {
	  flex-basis: 30%;
	}
	.col-2 {
	  flex-basis: 40%;
	}
	.col-3 {
	  flex-basis: 30%;
	}
	/*.col-4 {
	  flex-basis: 25%;
	}*/
	
	@media all and (max-width: 767px) {
	  .table-header {
		display: none;
	  }
	  .table-row{
		
	  }
	  li {
		display: block;
	  }
	  .col {
		
		flex-basis: 100%;
		
	  }
	  .col {
		display: flex;
		padding: 10px 0;
		&:before {
		  color: #6C7A89;
		  padding-right: 10px;
		  content: attr(data-label);
		  flex-basis: 50%;
		  text-align: right;
		}
	  }
	}
  }