.newsfeed {
  height: 13vh;
  margin-top: 0;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: relative;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
          only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
          only screen and (min-width: 125em) {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)),
      url(../img/ehero.jpg);
  }

  @include respond(phone) {
      
  }
  &__pic-box{
      position: relative;
      text-align: center;
      margin-bottom: 1rem;
      padding: 3rem;
  }
  &__pic {
    height: 30vh;
    clip-path: circle(50% at 50% 50%); 
  }
  &__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;  
  }
  &__logo {
      height: 5rem;
  }
  &__text-box {
      font-size: 1rem;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
}

.feed{
width: 100%;
min-height: 100vh;
margin: auto;
margin-bottom: 3rem;

&__row{
  width: 100%;
  display: flex;
  @include respond(tab-port) { justify-content: space-between; }
  flex-wrap: wrap;
}


// LEFT SIDE BAR
&__leftsidebar{
  width: 20%;
  max-height: 90vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond(tab-port) { display: none; }
  @include respond(phone) { display: none; }

  .sidelink{
    display: flex;
    align-items: center;
    margin: 5px 0;
    &__icon i{
      color: #000;
      font-size: 25px;
      margin-right: 10px;
      color: #55c57a;
    }
    &__name a{
      text-decoration: none;
      color: #000;
      font-size: 20px;
    }
    &__name a:hover{
      color: #55c57a;
    }
  }    

  .trendings{
    margin-left: 20px;
    margin-top: 20px;
    counter-reset: step;

    &__item{
      list-style-type: none;
      margin: 10px 0;
      margin-left: 50px;
      font-size: 16px;
      position: relative;
    }
    &__item:before{
      content: counter(step);
      counter-increment: step;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      line-height: 25px;
      background: #55c57a;
      color: #fff;
      text-align: center;
      display: block;
      position: absolute;
      left: -40px;
    }
    &__item:after{
      content: '';
      height: 100%;
      width: 3px;
      background: #55c57a;
      position: absolute;
      top: -100%;
      left: -28px;
      z-index: -1;
    }
  }

  &__upper{
    .user{
      display: flex;
      flex-direction: column; align-items: center; justify-content: center;
      // border: 2px solid #55c57a;
      border-radius: 10px;
      padding: 10px;
      
      //user info
        img{
          width: 100px; height: 100px;
          border-radius: 50%;
          margin-right: 10px;
        }
        &__name{
          text-align: center;
          font-size: 20px;
          color: #000;
          margin-bottom: -10px;
        }
        &__handle{
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
        //user point
        &__point{
          text-align: center;
          font-size: 30px;
          color: #55c57a;
          padding: 5px 15px;
          font-weight: 400;
        }
    }
  }
}


// RIGHT SIDE BAR
&__rightsidebar{
  width: 30%;
  height: 80vh;
  padding: 15px 0 15px 15px;
  @include respond(phone) { width: 100%; padding: 20px; margin-bottom: 10px; height: inherit;}
  @include respond(tab-port) { width: 40%; padding-right: 30px;}
 

  .top{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

    &__list{
      list-style-type: none;
    }
    &__item{
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

        &__name{
          display: flex;
          align-items: center;
          color: #000;
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            @include respond(tab-port) { display: none; }
          }
          .name{ margin-right: 10px; margin-bottom: -5px; font-size: 18px !important;}
          .username { font-size: 15px !important; color: #ccc !important; }
        }
        .rank{
          @include respond(tab-port) { display: none;}
        }
        .rank, .point{
          font-size: 15px;
        }
        .point{
          background: #55c57a;
          color: #fff;
          padding: 5px 15px;
          border-radius: 5px;
          @include respond(tab-port) { 
            color: #55c57a;
            background: #fff;
          }
        }
    }
  }
}

// MIDDLE PART
&__feedbar{
  width: 50%;
  min-height: 100px;
  padding: 15px 25px;
  @include respond(tab-port) { width: 60%; }
  @include respond(phone) { width: 100%;}


  // all post
  &__posts{
    margin-top: 20px;
    // post
    .post{
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: 2px solid #ccc;
      // post user
      &__user{
        display: flex;
        justify-content: space-between;
        .user{display: flex; align-items: center;}

        &__image{
          width: 50px;
          height: 50px;
          img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        &__info{
          padding-left: 10px;
          font-size: 16px;
          color: #000 !important;

          p, span{
            font-size: 14px;
            font-weight: 100;
          }
          p{color: #ccc;}
          span{
            color: #000;
            @include respond(phone) { display: none;}
          }
        }
      }
      //end of post user

      // post content
      &__content{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;

        .file{
          width: 100%;
          margin-top: 15px;
          padding: 0;
          border-radius: 5px;
          
          img{
            width: 100%;
          }
        }
        // like, comment & share
        .responses{
          display: flex;
          justify-content: flex-start;

          .response{
            width: 20%;
            display: flex;
            align-items: center;
            
            &__name{
              text-decoration: none;
              font-size: 30px;
              margin-right: 5px;
              color: #333;
              @include respond(phone) { 
                font-size: 16px;
              }
            }
            &__count{
              text-decoration: none;
              font-size: 20px;
              color: #333;
              @include respond(phone) { 
                font-size: 17px;
              }
            }
          }
        }
        // end of like, comment & share
      }
      // end of post content
    }
    // end of post
  }
  // end of post
}
//end of feedbar
}
.follow{
  @include respond(phone) { 
    padding-top: 20px !important;
  }
}
.follow a{
  font-size: 16px;
  text-decoration: none;
  padding: 7px 20px;
  color: #55c57a;
  border: 2px solid #55c57a;
  border-radius: 5px;
  transition: .3s;
  @include respond(phone) { 
    font-size: 14px;
    padding: 3px 10px;
  }
}
.follow a:hover{
color: #fff;
background: #55c57a;
}
a.seemore{
  text-decoration: none;
  font-size: 16px;
  color: #333;
}
a.seemore:hover{
  color: #55c57a;
}