.profile{
    width: 80%;
    .user{
        display: flex;
        align-items: center;
        &__image{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-right: 15px;
        }
        &__name{
            width: 100%;
            .name{
                display: flex; justify-content: space-between;
                &__main{
                    font-size: 55px !important; color: #000;
                    line-height: 55px !important;
                }
                &__point{
                    font-size: 50px !important;
                    line-height: 50px !important;
                    margin-right: 20px;
                    color: #55c57a;
                    span{
                        font-size: 16px !important;
                        margin-right: 7px;
                        color: #ccc;
                    }
                }
            }
            p{
                font-size: 30px;
                font-weight: 100;
                line-height: 30px;
                margin-bottom: 20px;
            }
            a{
                font-size: 18px !important; text-decoration: none;
                padding: 10px 30px; border: 2px solid #55c57a;
                color: #55c57a;
                transition: .2s;
            }
            a:hover{
                color: #fff;
                background: #55c57a;
            }
        }
    }

    &__pic-box{
        position: relative;
        text-align: center;
        margin-bottom: 2rem;
        padding: 2rem;
        
    }
    
    &__pic {
        height: 30vh;
        clip-path: circle(50% at 50% 50%); 
    }
    
    &__main{
        height: 45vh;
        animation: bounce-out 2s;
        @include respond(tab-port) {
            width:100%;
            height: 100%;
        }
    }

    &__activity{
        margin-top: 10px;
        display: flex; align-items: center;
        div{
            margin-right: 25px;
            h1{ font-size: 25px;
                span{ font-size: 17px; color: #ccc;
            }}
        }
    }
    &__bio{
        font-size: 18px;
        letter-spacing: 1px;
        
    }
    &__upladedContent{
        margin-top: 35px;
        .collam{
            margin-left: 0 !important;
            margin-right: 0 !important;
            // margin-bottom: 50px;
            padding: 0 !important;

            .content{
                height: 200px;
                padding: 5px;
                margin-bottom: 20px;
                transition: .4s;
            }
            .content:hover{
                opacity: .5;
            }
        }
    }
}