.profilePage{
    @include respond(phone) { .feed__leftsidebar{ display: none; } }
}


.profile{
    width: 80%;
    @include respond(phone) { width: 100%; }
    .user{
        display: flex;
        align-items: center;
        @include respond(phone) {
            padding: 10px; 
            flex-direction: column; justify-content: center;
        }
        &__image{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-right: 15px;
            @include respond(phone) {
                width: 100px; height: 100px;
            }
        }
        &__name{
            width: 100%;
            .name{
                display: flex; justify-content: space-between;
                @include respond(phone) {
                    flex-direction: column; align-items: center;
                }
                &__main{
                    font-size: 55px !important; color: #000;
                    line-height: 55px !important;
                    @include respond(phone) {
                        font-size: 25px !important; line-height: 25px !important; margin-top: 15px;
                    }
                }
                &__handle{
                    display: none;
                    @include respond(phone) { display: block; font-size: 16px !important; }
                }
                &__point{
                    font-size: 50px !important;
                    line-height: 50px !important;
                    margin-right: 20px;
                    color: #55c57a;
                    @include respond(phone) { position: relative; font-size: 35px !important; }
                    span{
                        font-size: 16px !important;
                        margin-right: 7px;
                        color: #ccc;
                        @include respond(phone) { display: none;}
                    }
                }
                &__point:before{
                    @include respond(phone) {
                        content: ''; 
                        position: absolute; top: 50%; left: -35px;
                        transform: translate(-50%, -50%);
                        width: 80%; height: 3px;
                        background-color: #55c57a;
                    }
                }
                &__point:after{
                    @include respond(phone) {
                        content: ''; 
                        position: absolute; top: 50%; right: -100px;
                        transform: translate(-50%, -50%);
                        width: 80%; height: 3px;
                        background-color: #55c57a;
                    }
                }
            }
            p{
                font-size: 30px;
                font-weight: 100;
                line-height: 30px;
                margin-bottom: 20px;
                @include respond(phone) { display: none; }
            }
            .link__follow{
                a{
                    font-size: 18px !important; text-decoration: none;
                    padding: 10px 30px; border: 2px solid #55c57a;
                    color: #55c57a;
                    transition: .2s;
                    @include respond(phone) {
                        font-size: 15px; padding: 5px 30px; border-radius: 10px;
                     }
                }
                @include respond(phone) { text-align: center; }
            }
            a:hover{
                color: #fff;
                background: #55c57a;
            }
        }
    }

    &__pic-box{
        position: relative;
        text-align: center;
        margin-bottom: 2rem;
        padding: 2rem;
        
    }
    
    &__pic {
        height: 30vh;
        clip-path: circle(50% at 50% 50%); 
    }
    
    &__main{
        height: 45vh;
        animation: bounce-out 2s;
        @include respond(tab-port) {
            width:100%;
            height: 100%;
        }
    }

    &__activity{
        margin-top: 10px;
        display: flex; align-items: center;
        div{
            margin-right: 25px;
            h1{ font-size: 25px;
                span{ font-size: 17px; color: #ccc;
            }}
            @include respond(phone) {width: 50%; margin: 0; text-align: center;}
        }
        @include respond(phone) { justify-content: center; padding: 0 0 0 20px;}
    }
    &__bio{
        font-size: 18px;
        letter-spacing: 1px;
        @include respond(phone) { 
            margin-top: 10px;
            padding: 0 30px 0 25px; 
            font-size: 15px; letter-spacing: 0; line-height: 16px;
        }
        
    }
    &__upladedContent{
        margin-top: 35px;
        .collam{
            margin-left: 0 !important;
            margin-right: 0 !important;
            // margin-bottom: 50px;
            @include respond(phone) { margin-bottom: 10px !important;}
            padding: 0 !important;

            .content{
                height: 200px;
                padding: 5px;
                margin-bottom: 20px;
                transition: .4s;
                @include respond(phone) {margin-bottom: 0; height: 100%}
            }
            .content:hover{
                opacity: .5;
            }
        }
    }
}